* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-decoration: none;  
}

h1 {
    font-size: 3.5rem;   
}
h2 {
    font-size: 2rem;
    
}
h4 {
    font-size: 3rem;
    font-size: normal;
}
/* Header */

.main-head {
    background: #0a2b19;
    color: #ffffff;
}

<<<<<<< HEAD
.liste-items{
=======

nav {
    min-height: 10vh;
>>>>>>> a9c861eba8c7edb8b913c1cae4016209a7fc91dc
    display: flex;
    color: #ffffff;
    justify-content: center;
<<<<<<< HEAD
=======
    width: 90%;
    margin: auto;
    padding: 2rem;
    flex-wrap: wrap;
}



#nav_ul {
    display: flex;
>>>>>>> a9c861eba8c7edb8b913c1cae4016209a7fc91dc
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo {
    flex: 1 1 40rem;
    font-size: 2.5rem;
}

/* HERO */
.hero {
    min-height: 90vh;
    background: linear-gradient(rgb(0,0,0,0.5), transparent), url("/image/bank2.jpg");
    background-size: cover;
    background-position: 25% 75%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
    flex-wrap: wrap;  
}

.hero h1 {
    padding: 4rem;
    justify-content: center;
    align-items: center;
}

input{
    padding: 1rem;
    font-size: 1.5rem;  
}

button {
    padding: 1.5rem 5rem;
    background: #0a2b19;
    color: #ffffff;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 885px){
    nav{
        text-align: center;
        
    }
    #logo{
        padding: 1.5rem;
    }
}
<<<<<<< HEAD
/* menu */

.items {
    cursor: pointer;
    margin: 0 20px;
    flex-shrink: 0;
}
.items-sous-liste {
    list-style: none;
}    

.main-head .items {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.main-head .items a {
    display: block;
    padding: 20px;
}


.main-head .items:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #0a2b19;
    padding: left 10px;
    width: 100px;
    text-align: center;
}

.sub-menu li {
    display: block;
=======
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
>>>>>>> a9c861eba8c7edb8b913c1cae4016209a7fc91dc
}