* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-decoration: none;  
}

h1 {
    font-size: 3rem;   
}
h2 {
    font-size: 2rem;
    
}
h4 {
    font-size: 3rem;
    font-size: normal;
}
/* Header */

.main-head {
    background: #0a2b19;
    color: #ffffff;
}

.liste-items{
    display: flex;
    color: #ffffff;
    justify-content: center;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
}
#logo {
    flex: 1 1 40rem;
    font-size: 2.5rem;
}

/* HERO */
.hero {
    min-height: 90vh;
    background: linear-gradient(rgb(0,0,0,0.5), transparent), url("/image/bank2.jpg");
    background-size: cover;
    background-position: 25% 75%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 1.2rem;
    flex-wrap: wrap;  
}

.hero h1 {
    padding: 4rem;
    justify-content: center;
    align-items: center;
}

input{
    padding: 1rem;
    font-size: 1rem;  
}

button {
    padding: 1.5rem 8rem;
    background: #0a2b19;
    color: #ffffff;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 885px){
    nav{
        text-align: center;
        
    }
    #logo{
        padding: 1.5rem;
    }
}
/* menu */

.items {
    cursor: pointer;
    margin: 0 20px;
    flex-shrink: 0;
}
.items-sous-liste {
    list-style: none;
}    

.main-head .items {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.main-head .items a {
    display: block;
    padding: 7px;
}


.main-head .items:hover .sub-menu {
    display: block;
    

}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #0a2b19;
    width: 100px;
    text-align: center;
}

.sub-menu li {
    display: block;
    font-size: 1.1 ;
}