
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.flex {
    display: flex;
    flex-direction: row;
    flex: 100%;
    text-align: center;
}


#colonne5 {
    display: flex;
    flex: 25%;
    flex-direction: column;
}
#colonne6 {
    display: flex;
    flex: 25%;
    flex-direction: column;
}
#colonne7 {
    display: flex;
    flex: 25%;
    flex-direction: column;
}
#colonne8 {
    display: flex;
    flex: 25%;
    flex-direction: column;
}

.main-head {
    background: #0a2b19;
    color: #ffffff;
}

#logo {
    flex: 1 1 40rem;
    font-size: 2.5rem;
}

#nav_ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none; 
    font-size: 2rem;
}

nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
    flex-wrap: wrap;
    color: #ffffff;
}

li{
    font-size: 1.5rem;
}

@media screen and (max-width: 885px){
    nav{
        text-align: center;
    }
    #logo{
        padding: 1.5rem;
    }
}
/* menu */
.liste-items{
    display: flex;
    color: #ffffff;
    justify-content: center;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
}

.items {
    cursor: pointer;
    margin: 0 20px;
    flex-shrink: 0;
}
.items-sous-liste {
    list-style: none;
}    

.main-head .items {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.main-head .items a {
    display: block;
    padding: 7px;
}


.main-head .items:hover .sub-menu {
    display: block;
    

}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #0a2b19;
    width: 100px;
    text-align: center;
}

.sub-menu li {
    display: block;
    font-size: 1rem ;
}